<div class="banner">
    <div class="image-background">
        <img src="img/aboutus/people.png" />
        <div class="overlay" />
    </div>
    <div class="content-text has-text-white subtitle is-size-5 is-size-5-tablet is-size-3-desktop my-subtitle" style="text-shadow: 0 1px black, 1px 0 black, 0 0px black;"> <!-- my-subtitleクラスを追加 -->
           私たちについて
        <div>
            <a href="{{ site.baseurl }}/aboutus">
                <button class="button mt-3 is-large is-light is-outlined my-button"> <!-- my-buttonクラスを追加 -->
                    <span class="icon">
                        <i class="fas fa-people-group"></i>
                    </span>
                    <span>
                        About us
                    </span>
                    <span class="icon"> 
                        <i class="fas fa-angle-down"></i>
                    </span>    
                </button>
            </a>
        </div>
    </div>
</div>