<section class="awards-section">
  <div class="awards-section__inner">
    <div class="awards-section__heading">
      <p class="awards-section__eyebrow">AWARDS</p>
      <h2 class="awards-section__main-title">受賞実績</h2>
      <p class="awards-section__lead">
        SHIONOGIのDX推進・データ活用に関する取り組みが評価されています。
      </p>
    </div>

<div class="awards-editorial">
  <div class="awards-editorial__intro">
    <p class="awards-editorial__year">2026</p>
    <h3 class="awards-editorial__title">「DX銘柄2026」に選定</h3>
  </div>

  <figure class="awards-editorial__main-image">
    <img
      src="{{ site.baseurl }}/img/awards/dx-brand-2026.png"
      alt="DX銘柄2026 Digital Transformation"
    >
  </figure>

  <div class="awards-editorial__body">
    <p>
      塩野義製薬は、経済産業省、東京証券取引所および独立行政法人情報処理推進機構が選定する
      「デジタルトランスフォーメーション銘柄（DX銘柄）2026」に選定されました。
    </p>
    <p>
      当社は2023年から2025年まで3年連続で「DX注目企業」に選定されており、
      今回新たに「DX銘柄2026」に選定されました。
    </p>
  </div>

  <div class="awards-history">
    <div class="awards-history__text">
      <p class="awards-history__label">Past Recognition</p>
      <h3 class="awards-history__title">これまでのDX注目企業選定実績</h3>
      <p class="awards-history__lead">
        継続的なDX推進の取り組みにより、2023年から2025年まで3年連続で評価されました。
      </p>
    </div>

    <figure class="awards-history__image">
      <img
        src="{{ site.baseurl }}/img/awards/dx-attention-2023-2025.png"
        alt="DX注目企業2025・DX注目企業2024・DX注目企業2023"
      >
    </figure>
  </div>
</div>


  </div>
</section>
