<footer class="footer has-text-centered">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZMNFBR4D8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JZMNFBR4D8');
    </script>
    
    <div class="footer-links">
        <a class="footer-link" href="/shionogi-data-science-dept-site/terms">本サイト利用規約</a>
        <span class="footer-separator">|</span>
        <a class="footer-link" href="https://www.shionogi.com/jp/ja/personal-info.html" target="_blank" rel="noopener noreferrer">プライバシーポリシー（個人情報の取扱について）</a>
    </div>
    <div class="footer-copyright">
        <div>Copyright &copy; Shionogi & Co., Ltd. All Rights reserved.</div>
    </div>
</footer>

<!-- 外部リンククリックの計測（GA4） -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const externalLinks = document.querySelectorAll('a[target="_blank"], a.external-link');

    externalLinks.forEach(function (link) {
      link.addEventListener('click', function () {
        const label = link.dataset.label || link.href;
        gtag('event', 'external_click_recruit', {
          'event_category': 'outbound',
          'event_label': label
        });
      });
    });
  });
</script>

<!-- 元々のJS読み込み -->
<script src="/shionogi-data-science-dept-site/assets/js/app.js" type="text/javascript"></script>
</body>
</html>