<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="{{ site.corporate_site }}" target="_blank">
                        <span class="icon-text has-text-black">
                            <span class="icon">
                                <i class="fas fa-globe"></i>
                            </span>
                            <span>SHIONOGI Group Corporate Website</span>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="https://github.com/{{ site.github_username }}" target="_blank">
                        <span class="icon-text has-text-black">
                            <span class="icon">
                                <i class="fab fa-github fa-lg"></i>
                            </span>
                            <span>GitHub</span>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="https://github.com/{{ site.github_repo }}" target="_blank">
                        <span class="icon-text has-text-black">
                            <span class="icon">
                                <i class="fas fa-code fa-lg"></i>
                            </span>
                            <span>Source of this site</span>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="{{ site.recruiting_site}}" target="_blank">
                        <span class="icon-text has-text-black">
                            <span class="icon">
                                <i class="fas fa-user-tie fa-lg"></i>
                            </span>
                            <span>Careers</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>