<div class="toggle-button-wrapper">
  <button id="toggle-presentation-btn" class="button is-danger is-outlined" onclick="togglePresentation()">
    社外発表実績を知りたい方はこちら（臨床研究を除くデータサイエンス関連のトピック）
  </button>

</div>

<div id="presentation-section" class="scroll-container-wrapper" style="display: none;">
  <button class="scroll-btn left" onclick="scrollSlides('left')">&#10094;</button>

  <div class="horizontal-scroll-wrapper" id="presentation-scroll">
  
    <section class="year-slide">
      <h3>2025年度（予定含む）</h3>

      
      <div class="presentation-block">
        <h4 class="block-title">🏆 受賞</h4>

        <div class="entry">
          <h5>デジタルトランスフォーメーション銘柄2025</h5>
          <ul>
            <li>DX注目企業2025への選定：塩野義製薬全体の取り組みが選定理由（3年連続）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Customer Recognition Awards 2025</h5>
          <ul>
            <li>Community Uplift：2nd place winnerを受賞</li>
          </ul>
        </div>
      </div>


      <div class="presentation-block">
        <h4 class="block-title">🧪 学会発表・講演</h4>

        <div class="entry">
          <h5>Pharma IT 2025</h5>
          <ul>
            <li>生成AIを活用したSHIONOGIでの価値創出 – 規制文書作成業務効率化の事例紹介</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Innovate 2025 Orlando</h5>
          <ul>
            <li>Overcoming Challenges in RWE Generation: The AI-SAS for RWE Approach</li>
          </ul>
        </div>

        <div class="entry">
          <h5>2025年度 人工知能学会全国大会（第39回）</h5>
          <ul>
            <li>量子アニーリングを用いた時間窓制約付き運搬経路問題（VRPTW）の求解による医薬情報担当者の施設訪問計画の最適化</li>
            <li>塩野義製薬でのAI活用事例と体制</li>
            <li>SHIONOGIのデータサイエンス部の活動内容ご紹介</li>
          </ul>
        </div>

        <div class="entry">
          <h5>AWS Summit Japan 2025</h5>
          <ul>
            <li>SHIONOGI における生成 AI 活用～全社的な道筋と医薬開発領域での事例紹介～</li>
          </ul>
        </div>

        <div class="entry">
          <h5>Interphex Week Tokyo 2025</h5>
          <ul>
            <li>塩野義製薬のデータサイエンス戦略とは</li>
          </ul>
        </div>
      </div>

    <!-- 🗂 その他（必要に応じて） -->
    <!-- <div class="presentation-block">
      <h4 class="block-title">🗂 その他</h4>
      <div class="entry">
        <h5>例: 特許出願・出版</h5>
        <ul>
          <li>内容をここに追加</li>
        </ul>
      </div>
    </div> -->
    </section>
    <section class="year-slide">
      <h3>2024年度</h3>

  
      <div class="presentation-block">
        <h4 class="block-title">🏆 受賞</h4>

        <div class="entry">
          <h5>デジタルトランスフォーメーション銘柄2024</h5>
          <ul>
            <li>DX注目企業2024への選定</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Customer Recognition Awards 2024</h5>
          <ul>
            <li>Innovative Problem Solver： 1st place winnerを日本企業として初めて受賞（グローバル47企業がエントリー）</li>
          </ul>
        </div>
        <div class="entry">
          <h5>Japan Data Drivers Awards</h5>
          <ul>
            <li>Data Drivers Awardsにおいて最上位であるDATA DRIVER OF THE YEARを受賞</li>
          </ul>
        </div>
        <div class="entry">
          <h5>第17回ITヘルスケア学会</h5>
          <ul>
            <li>学会発表：研究奨励賞受賞</li>
            <li>『AIを用いた解析プログラム生成による医薬品開発効率化』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Hackathon Boot Camp 2025 in Las Vegas</h5>
          <ul>
            <li>3rd place winner</li>
          </ul>
        </div>
      </div>


      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>

        <div class="entry">
          <h5>人工知能学会・第38回全国大会</h5>
          <ul>
            <li>企画セッション：『データエンジニアリングで育むデータの価値 ～データサイエンスを加速させる産学それぞれの視点～』 オーガナイザ（共同）</li>
            <li>一般セッション：『社会人女子ソフトボール選手を対象とした体調セルフチェックシステムの有用性の評価』</li>
            <li>一般セッション：『感染症数理モデルを用いた定点当たり報告数に基づいたCOVID-19の流行予測』</li>
            <li>一般セッション：『医薬品情報の検索に対応した文埋め込みモデルの構築と評価』</li>
            <li>一般セッション：『事前学習と実臨床データを組み合わせた睡眠段階自動スコアリング精度改善技術の開発』</li>
            <li>企業ブース出展：『SHIONOGIのデータサイエンス部の活動内容ご紹介と採用イベント等のご案内』</li>
          </ul>
        </div>  
    </section>


    <section class="year-slide">
      <h3>2024年度</h3>
  
      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>
        <div class="entry">
          <h5>第17回ITヘルスケア学会</h5>
          <ul>
            <li>『AIを用いた解析プログラム生成による医薬品開発効率化』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>第38回計算機統計学会</h5>
          <ul>
            <li>『時系列解析を用いた成り行き予測による効果検証と可視化』</li>
            <li>『シミュレーションを用いた経営リソースの最適化』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Innovate 2024 Las Vegas</h5>
          <ul>
            <li>『The Power of AI SAS Programmer: Pioneering Digital Transformation with AI, Data Science and SAS Viya』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>#SAS Innovate on Tour 2024</h5>
          <ul>
            <li>Japan Keynote：『SHIONOGIデータサイエンスを加速するための統合解析環境を軸とした協創型データエコシステム』</li>
            <li>Breakout session：『SAS Viya × Snowflake を軸としたSHIONOGI協創型データエコシステムの構築と活用』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SASユーザー総会 2024</h5>
          <ul>
            <li>『データサイエンスを支えるデータエンジニアリングのチカラ‐SAS Viyaを中核とするSHIONOGI統合解析環境』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>製薬×データサイエンス meetup 2024</h5>
          <ul>
            <li>『次世代の価値創造に挑むSHIONOGIデータサイエンス-DWH、データカタログ、MLOpsの進化』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>第5回ナニワデータサイエンス研究会</h5>
          <ul>
            <li>『データサイエンスを支えるデータエンジニアリングのチカラ‐SAS Viyaを中核とするSHIONOGI統合解析環境』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>AWS クラウドセミナー 2024</h5>
          <ul>
            <li>最新事例に学ぶ製薬業界 臨床開発領域向け</li>
            <li>『生成 AI を活用した SHIONOGIでの価値創出 – 規制文書作成業務効率化の事例紹介』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>論文（査読付）</h5>
          <ul>
            <li>『JMIR AI 2024;3:e55840: Predicting Workers’ Stress: Application of a High-Performance Algorithm Using Working-Style Characteristics』</li>
          </ul>
        </div>
      </div> 
    </section>
    <section class="year-slide">
      <h3>2023年度</h3>

      <div class="presentation-block">
        <h4 class="block-title">🏆 受賞</h4>
        <div class="entry">
          <h5>デジタルトランスフォーメーション銘柄2023</h5>
          <ul>
            <li>DX注目企業2023への選定</li>
          </ul>
        </div>
      </div>


      <div class="presentation-block">
        <h4 class="block-title"> 学会発表・講演</h4>

        <div class="entry">
          <h5>SHIONOGI主催イベント SHIONOGI DATA SCIENCE FES 2024</h5>
          <ul>
            <li>『CNS 領域のトータルケアに向けたストレス予測アルゴリズム開発の取り組み』</li>
            <li>『売上シミュレーションによる営業戦略の策定支援』</li>
            <li>『感染症流行状況の把握と予測の取り組み』</li>
            <li>『仮説検証サイクルを実現するデータサイエンティストとデータエンジニアの挑戦』</li>
            <li>『SHIONOGI のデータ利活用基盤の現状と今後の展望』</li>
            <li>『データサイエンス人材教育とデータサイエンス部保有スキルの見える化』</li>
            <li>『オンデマンド計算環境の開発 -クラウド計算資源の効率的な利用と、高度解析の加速』</li>
            <li>『データ活用を促進するデータカタログ』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>人工知能学会 第37回全国大会</h5>
          <ul>
            <li>企画セッション：『オープンサイエンス推進に向けた産学におけるデータマネジメントと利活用の取組と展望』オーガナイザ（共同）</li>
            <li>『製薬企業におけるDX推進，データマネジメントの現状と今後の展望』</li>
            <li>『製薬企業におけるRWD利活用の現状とエビデンス構築事例の紹介』</li>
            <li>『健康診断データを用いた因果探索手法の適用可能性検討』</li>
            <li>『モンテカルロ法とベイズ推定を用いた経営リソースのシミュレーション』</li>
            <li>『表情による感情推定AIモデルを用いた子供のオンラインコミュニケーションへの興味・集中を反映する客観的な評価指標の探索』</li>
            <li>『勤怠データとウェアラブルデバイスを用いた個別最適モデルによる労働者のストレス予測』</li>
          </ul>
        </div>
    </section>
    <section class="year-slide">
      <h3>2023年度</h3>


      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>

        <div class="entry">
          <h5>日本食品科学工学会 第70回記念大会</h5>
          <ul>
            <li>シンポジウム：食の未来と科学技術の関わり－食料資源の持続的活用を目指して－</li>
            <li>『健康診断データからみる食習慣とヘルスケア』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>第20回 DIA 日本年会2023</h5>
          <ul>
            <li>『製薬企業におけるRWD利活用の現状とエビデンス構築事例の紹介』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>日本計算機統計学会 第37回シンポジウム</h5>
          <ul>
            <li>『逐次ベイズ推定を用いた経営リソースのモンテカルロシミュレーション』</li>
            <li>『Spotfire・Python連携を用いたモンテカルロシミュレーションの可視化』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>PharmaSUG SDE Japan 2023</h5>
          <ul>
            <li>『Generating Valuable Dummy Data for Analytical Method Development』</li>
            <li>『人工知能解析プログラマ/DX推進サービス』（Sponsor Session）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>2023年度 日本分類学会シンポジウム</h5>
          <ul>
            <li>『異常検知手法による培養細胞画像のウイルス感染検出』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>バイオベンチャーアライアンス主催 2023年度第2回ヘルスケア研究会</h5>
          <ul>
            <li>『SHIONOGIデータサイエンス部が描くデータ駆動型ヘルスケアの未来ーメンタルヘルスの事例から見えた期待と課題』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SCDM Japan Regional Conference 2023</h5>
          <ul>
            <li>『SHIONOGIにおける新たな統合解析環境構築』（SAS Institute Japan主催セッションへの企画協力）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>京都女子大学 データサイエンス学部・研究所開設記念シンポジウム</h5>
          <ul>
            <li>『塩野義製薬 データサイエンス部の紹介、現地見学講義の実施報告』</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2023年度</h3>

      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演（続き）</h4>

        <div class="entry">
          <h5>第18回日本統計学会春季集会</h5>
          <ul>
            <li>『欠測を伴う結果変数を考慮した因果推論における共変量バランスの検討』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>データマネジメント2024</h5>
          <ul>
            <li>『塩野義製薬の成功事例から学ぶデータ活用による事業革新－ヘルスケア産業が目指す新たな価値づくり－』（共同発表）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>日本臨床試験学会第15回学術集会総会</h5>
          <ul>
            <li>『COVID-19パンデミック下における患者の受診動向調査』（共同研究）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>情報処理学会 第86回全国大会</h5>
          <ul>
            <li>『セルフヨガ実現に向けた骨格推定と呼吸波推定の活用検討』</li>
            <li>『畳み込みニューラルネットワークのバギングに基づく実験動物の探索行動自動判定の試み』</li>
          </ul>
        </div>
      </div>


      <div class="presentation-block">
        <h4 class="block-title">🗣 セミナー</h4>

        <div class="entry">
          <h5>SHIONOGI Data Engineering Night Meeting</h5>
          <ul>
            <li>『SHIONOGIが考えるヘルスケア業界が求めるデータエンジニアとは』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SAS Institute Japan主催ラウンドテーブル：営業マーケティングDX成功の要因</h5>
          <ul>
            <li>『SHIONOGIにおける営業領域でのデータ活用事例』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SNOWFLAKE LEADERS ROUNDTABLE OSAKA</h5>
          <ul>
            <li>『SHIONOGI データサイエンス部の思考と実践』</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2023年度</h3>


      <div class="presentation-block">
        <h4 class="block-title">🎤 各種登壇・講演</h4>

        <div class="entry">
          <h5>SAS Evolves</h5>
          <ul>
            <li>『対談：トラディショナルなSAS9ユーザーがSAS Viyaを活用してどのようにDXストーリーを歩み始めたのか？』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>Cloudera Evolves：DATA ANYWHERE, INNOVATION EVERYWHERE</h5>
          <ul>
            <li>『DX推進の要となるセントラルデータウェアハウスとデータマネジメントの取り組み』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>SNOWFLAKE DATA CLOUD WORLD TOUR TOKYO</h5>
          <ul>
            <li>『SHIONOGI データサイエンス部が取り組む仮説検証サイクルの思考と実践、その環境構築』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>ビジネス+IT主催 DX時代のデータ活用・分析2023夏</h5>
          <ul>
            <li>『データサイエンティストが創るビジネスとは？ーAI SAS Programmer の事例から学ぶー』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>セミナー：製薬企業におけるリアルワールドデータ分析手順・性質・現実差異と複数のデータベースの組み合わせ方法</h5>
          <ul>
            <li>『多様なデータベースの組み合わせによる価値創造 ―エビデンス/ビジネス構築・経営活用―』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>日本経済新聞社主催 情報システム部門のための戦略的データマネジメント</h5>
          <ul>
            <li>『ヘルスケア領域におけるデータエンジニアリング』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>製薬×データサイエンス Meetup 2023</h5>
          <ul>
            <li>『データサイエンスとヘルスケア – SHIONOGIによるウェアラブルデバイスを用いた近未来のストレス管理』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>ビジネス+IT主催 DX & AI Forum 2024 Winter 大阪</h5>
          <ul>
            <li>『データサイエンティストによるビジネス創造の留意点と今後のAI技術への期待と課題』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>セミナー：リアルワールドデータの製薬企業での活用事例と将来展望</h5>
          <ul>
            <li>『リアルワールドデータ利活用の実際と事例 ～入門編～』</li>
          </ul>
        </div>

        <div class="entry">
          <h5>JBpress主催 2024 SPRING DX WEEK 第1回 データイノベーションフォーラム</h5>
          <ul>
            <li>『データに基づく仮説検証サイクルを実現するためのデータサイエンス機能のポイント』</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2023年度</h3>


      <div class="presentation-block">
        <h4 class="block-title">📄 論文・特許</h4>

        <div class="entry">
          <h5>論文</h5>
          <ul>
            <li>データサイエンティストのスキル要件と感染症領域におけるデータサイエンスの取り組み事例, PHARM STAGE（2023年4月号）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>論文（査読付）</h5>
          <ul>
            <li>Wastewater-based reproduction numbers and projections of COVID-19 cases in multiple cities in Japan, <i>Eurosurveillance</i> (2024) （共同研究）</li>
            <li>Comparison of the incidence of severe outcomes in outpatients with COVID-19 or seasonal influenza without risk factors: Retrospective analysis of a health insurance claims-database, <i>Journal of Clinical Virology Plus</i> (2024) （共同研究）</li>
            <li>Virtual reality perceptual training can improve the temporal discrimination ability of swinging during softball batting, <i>Front Sports Act Living</i> (2024) （共同研究）</li>
          </ul>
        </div>

        <div class="entry">
          <h5>特許出願中</h5>
          <ul>
            <li>ヘルスケア関係：1件</li>
            <li>データベース基礎技術：1件</li>
          </ul>
        </div>

        <div class="entry">
          <p>※ 他、外部発表、講演、投稿論文多数</p>
        </div>
      </div>
    </section>
    
    <section class="year-slide">
      <h3>2022年度</h3>
    

      <div class="presentation-block">
        <h4 class="block-title">SHIONOGI主催イベント</h4>
    
        <div class="entry">
          <h5>SHIONOGI DATA SCIENCE FES 2023</h5>
          <ul>
            <li>『データサイエンティストが創るビジネス～AI SAS Programmerの事例から学ぶ～』</li>
            <li>『デジタルデバイスを活用したうつ病の再燃予測の事例紹介』</li>
            <li>『実ビジネスにおけるデータサイエンス人材教育の必要性と SHIONOGI での取り組み』</li>
            <li>『SHIONOGI における次世代データマネジメント』</li>
            <li>『ビジネス課題解決のためのデータ活用　～データ蓄積から分析・可視化まで～』</li>
            <li>『VRデバイスを用いた無意識下におけるバッティング技術の向上～ソフトボールとヘルスケアの意外な繋がり～』</li>
            <li>『データサイエンスを通した感染症への関わり方』</li>
          </ul>
        </div>
      </div>
    
  
      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>
    
        <div class="entry">
          <h5>人工知能学会 第36回全国大会</h5>
          <ul>
            <li>『ライフログに基づく寛解期うつ病患者の抑うつ度予測に対するlightGBMの可能性について』</li>
            <li>『ライフログからうつ病再発を予測するための機械学習アルゴリズムに関する予備検討』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>2022年度 統計関連学会連合大会</h5>
          <ul>
            <li>『ノンパラメトリックアプローチを用いた行動ログの違いから見るうつ病再発』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>CBI学会2022年大会</h5>
          <ul>
            <li>『塩野義製薬におけるデータサイエンス部の取り組みとデータ活用基盤』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>PharmaSUG Japan 2021</h5>
          <ul>
            <li>『Building Business Intelligence Using Sales and Marketing Data and its Utilization』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>日本臨床試験学会 第14回学術集会総会</h5>
          <ul>
            <li>『医療情報データから見る COVID-19 の影響調査』（共同研究）</li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="year-slide">
      <h3>2022年度</h3>
    

      <div class="presentation-block">
        <h4 class="block-title">🎤 セミナー</h4>
    
        <div class="entry">
          <h5>AWS Summit Online 2022</h5>
          <ul>
            <li>塩野義製薬における IT 施策とデータ活用の融合と推進</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>製薬×データサイエンス Meetup 2022</h5>
          <ul>
            <li>感染症領域におけるデータサイエンスの取り組み</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>製薬企業におけるリアルワールド活用・課題・実例 「データベース特性・解析」編</h5>
          <ul>
            <li>多様なデータベースの組み合わせによる価値創造</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>Cloudera Evolve 2022</h5>
          <ul>
            <li>DX推進の要となるセントラルデータウェアハウスの進化と深化</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>D-DRIVE データサイエンスセミナー</h5>
          <ul>
            <li>SHIONOGIにおけるデータサイエンスの取り組み</li>
          </ul>
        </div>
      </div>
    
  
      <div class="presentation-block">
        <h4 class="block-title">📄 論文・特許</h4>
    
        <div class="entry">
          <h5>論文（査読付）</h5>
          <ul>
            <li>Determination of optimal prevention strategy for COVID-19 based on multi-agent simulation, <i>Japanese Journal of Statistics and Data Science</i> (2022)</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>論文</h5>
          <ul>
            <li>データ収集・集積のためのルール作りと周知徹底, PHARM STAGE（2022年12月号）</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>特許出願中</h5>
          <ul>
            <li>ヘルスケア関係：1件（共同研究）</li>
          </ul>
        </div>
    
        <div class="entry">
          <p>※ 他、外部発表、講演、投稿論文多数</p>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2021年度</h3>
    
      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>
    
        <div class="entry">
          <h5>SAS Global Forum 2021</h5>
          <ul>
            <li>The Potential of Simulation Technologies : Multi Agent Simulation & Reinforcement Learning</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>PharmaSUG 2021</h5>
          <ul>
            <li>Why Data Scientists need leadership skills? Story of Cross-Value Chain Data Utilization Project</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>PharmaSUG Japan 2021 Virtual Event</h5>
          <ul>
            <li>Data Scientist in Shionogi : Education, Skills & Training</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>第41回医療情報学連合大会</h5>
          <ul>
            <li>国内医薬品副作用データベースに対するネットワーク分析手法の適用可能性の研究</li>
            <li>少数枚の医用画像による画像認識モデル構築方法の検討</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>第431回CBI学会講演会</h5>
          <ul>
            <li>塩野義製薬におけるバリューチェーン横断型データ利活用について</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2021年度</h3>
    

      <div class="presentation-block">
        <h4 class="block-title">🎤 セミナー</h4>
    
        <div class="entry">
          <h5>PharmaSUG Japan 2021 Virtual Event</h5>
          <ul>
            <li>『データサイエンス入門～仮説思考の鍛錬～　ハンズオントレーニング講師』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>AWS主催 関西地域におけるクラウド活用への挑戦</h5>
          <ul>
            <li>『塩野義製薬のDX推進におけるデータ利活用の現状と今後』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>Cloudera Sessions 2021</h5>
          <ul>
            <li>『データレイクはDXの源泉となるのか？ バリューチェーン横断型データ利活用を考える』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>製薬業界のコマーシャル領域における国内外のAWS活用事例ご紹介</h5>
          <ul>
            <li>『塩野義製薬のDX推進におけるデータ利活用の現状と今後 コンテンツ追加版』</li>
          </ul>
        </div>
      </div>
    

      <div class="presentation-block">
        <h4 class="block-title">📄 論文・特許</h4>
    
        <div class="entry">
          <h5>論文（査読付）</h5>
          <ul>
            <li>医学研究に二次利用する医療情報データの特徴と性質を把握すべき意義, <i>日本臨床試験学会雑誌</i> (2022)（共同研究）</li>
            <li>Simplified Virtual Reality System Can Be Used to Evaluate the Temporal Discrimination Ability in Softball Batting as in the Real Environment, <i>Front. Sports Act. Living</i> (2022)（共同研究）</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>PCT国際出願中</h5>
          <ul>
            <li>人工知能解析プログラマシステム</li>
          </ul>
        </div>
    
        <div class="entry">
          <p>※ 他、外部発表、講演、投稿論文多数</p>
        </div>
      </div>
    </section>
    <section class="year-slide">
      <h3>2020年度</h3>
    

      <div class="presentation-block">
        <h4 class="block-title">学会発表・講演</h4>
    
        <div class="entry">
          <h5>人工知能学会 第34回全国大会</h5>
          <ul>
            <li>『ウェアラブル端末データと欠測パターンからの行動リズムの考察』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>2020年度統計関連学会連合大会</h5>
          <ul>
            <li>『女子ソフトボール部スコアブックデータへの機械学習的アプローチ』</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>SAS Global Forum 2020</h5>
          <ul>
            <li>Transfer Learning for Mining Digital Phenotype by SAS® Viya®</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>SAS Forum Japan 2020</h5>
          <ul>
            <li>医薬品・ヘルスケア業界におけるデータサイエンスと統合解析環境</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>PharmaSUG Japan 2020 Virtual Event</h5>
          <ul>
            <li>Skill Building of Modeling & Simulation and its Applications</li>
          </ul>
        </div>
      </div>
    </section>
    
        
    <section class="year-slide">
      <h3>2020年度</h3>
    

      <div class="presentation-block">
        <h4 class="block-title">🎤 セミナー</h4>
    
        <div class="entry">
          <ul>
            <li>データサイエンスが拓く次世代R&D</li>
            <li>医薬品・ヘルスケア業界におけるデータサイエンスと人工知能技術</li>
          </ul>
        </div>
      </div>
    

      <div class="presentation-block">
        <h4 class="block-title">📄 論文・執筆・特許</h4>
    
        <div class="entry">
          <h5>論文（査読付）</h5>
          <ul>
            <li>Patient journey through cases of depression from claims database using machine learning algorithms, <i>PLOS ONE</i> (2021)</li>
            <li>Reconstructing the household transmission of influenza in the suburbs of Tokyo based on clinical cases, <i>Theoretical Biology and Medical Modelling</i> (2021)（共同研究）</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>執筆活動</h5>
          <ul>
            <li>『リアルワールドデータの使用目的に応じた解析手法 -各データベースの選択と組み合わせ-』サイエンス＆テクノロジー（一部執筆）</li>
          </ul>
        </div>
    
        <div class="entry">
          <h5>特許出願中</h5>
          <ul>
            <li>人工知能解析プログラマシステム</li>
          </ul>
        </div>
    
        <div class="entry">
          <p>※ 他、外部発表、講演、投稿論文多数</p>
        </div>
      </div>
    </section>
  </div>
  <button class="scroll-btn right" onclick="scrollSlides('right')">&#10095;</button>
</div>

<script>
  function togglePresentation() {
    const section = document.getElementById("presentation-section");
    const btn = document.getElementById("toggle-presentation-btn");
    const isOpen = section.style.display !== "none";

    if (isOpen) {
      section.style.display = "none";
      btn.textContent = "社外発表実績を知りたい方はこちら（臨床研究を除くデータサイエンス関連のトピック）";
    } else {
      section.style.display = "flex";
      btn.textContent = "社外発表実績を閉じる";
    }
  }

  function scrollSlides(direction) {
    const scrollContainer = document.getElementById('presentation-scroll');
    const scrollAmount = window.innerWidth * 0.8;

    if (direction === 'left') {
      scrollContainer.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
    } else {
      scrollContainer.scrollBy({ left: scrollAmount, behavior: 'smooth' });
    }
  }
</script>
