.hero-header {
    height: calc(100vh - #{$navbar-height});
    padding-top: 30vh;
}

.hero-header-body .container {
    padding: 1em;

}

.normal-header {
    height: calc(30vh - #{$navbar-height});
    max-height: 300px;
    min-height: 10rem;
    padding-top: 3vh;
}

.normal-header-body .container {
    // margin-top: 10vh;
    padding: 1em;

}