<!doctype html>
<html>
  {% include head.html %}

  <body{% if page.show_banner %} class="has-banner"{% endif %}>
    {% include header.html %}

    {% if page.show_banner %}
      {% include aboutus-banner.html %}
    {% endif %}

    <section class="section main-content">
      <div class="container content">
        {{ content }}
      </div>
    </section>

    {% include footer.html %}
    
    <!-- JavaScript Files -->
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/data-visualization.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/featured-articles-carousel.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/header-menu.js"></script>
  </body>
</html>
